.bg-light-hover {
    background-color: #d3d4d5;
}

.small-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.small-scrollbar::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
}

.small-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.small-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.btn-white {
    background-color: white;
    border: none;
}

.btn-white:hover {
    background-color: #d3d4d5;
}

.btn-white:active {
    background-color: #c6c7c8 !important;
}

.btn-black {
    background-color: black;
    color: white;
    border: none;
}

.btn-black:hover {
    background-color: #333333;
    color: white;
}

.btn-black:active {
    background-color: #444444 !important;
    color: white !important;
}

.clickable,
.clickable-05,
.clickable-07,
.clickable-1,
.clickable-2,
.clickable-5,
.clickable-9 {
    transform: scale(1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.clickable:hover {
    transform: scale(1.5);
}

.clickable-05:hover {
    transform: scale(1.05);
}

.clickable-07:hover {
    transform: scale(1.07);
}

.clickable-1:hover {
    transform: scale(1.1);
}

.clickable-2:hover {
    transform: scale(1.2);
}

.clickable-5:hover {
    transform: scale(1.5);
}

.clickable-9:hover {
    transform: scale(1.9);
}